<div class="container">
    <h2 id="vacation_name"><%= vacation.name%></h2>
    <%= link_to "Edit", edit_vacation_path(vacation) %>
  <div class="row">
    <div class="col">
      <b>Destination</b><br>
      <p id="destination"><%= vacation.destination.full_name %></p>
    </div>
    <div class="col">
      <b>Budget:</b><br>
      <p id="vacation_budget"> $<%= vacation.budget %></p>
    </div>
    <div class="col">
      <b>Cost of Activities:</b><br>
      <p id="activities_total">$<%=vacation.activities_total%></p>
    </div>
    <div class ="col">
      <!-- empty div for spacing -->
    </div>
  </div>
</div>
