
<%= form_for ([current_user, @vacation]) do |f| %>

<% if @vacation.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% @vacation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= f.label "Where would you like to go?" %>
    <br>
    <%= f.collection_select :destination_id, Destination.all, :id, :full_name, include_blank: true %>
  </div>
  <br>
  <div class="field">
    <%= f.label "Vacation Name" %><br />
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= f.label "What is your budget? (Please input number in dollars)" %><br />
    <%= f.number_field :budget %>
  </div>
  <br>
  <div class="field">
    <%= f.label "When would you like to go?" %><br />
    <%= f.text_field :date %>
  </div>
  <br>
  <div class="field">
    <%= f.label "How many days would you like to travel for" %><br />
    <%= f.number_field :length %>
  </div>
  <br>
  <div class="actions"><%= f.submit %></div>
<% end %>
