<div class="container">
  <div class="row">
    <div class="col">
      <b>Destination</b><p id="destination"><%= vacation.destination.full_name %></p>
      <b>Number of People</b><p id="people"><%= vacation.people %></p>
    </div>
    <div class="col">
      <b>Budget:</b><p id="vacation_budget"> $<%= vacation.budget %></p>
      <b>Cost of Activities:</b><p id="activities_total">$<%=vacation.activities_total%></p>
    </div>
    <b>Changes?</b><%= link_to "Edit", edit_vacation_path(vacation) %>
  </div>
</div>
