</ol>
  <li><h4><%= vacation_activity.activity.name %></h4></li>
  <ul>
    <li><h4>Number of People: <%= vacation_activity.people %> </h4></li>
    <li><h4>Total cost of this activity: $<%= vacation_activity.total_cost %> ($<%= vacation_activity.activity.price%> per person)</h4></li>
  </ul>
  <%= button_to 'Delete', vacation_activity_path(vacation_activity), method: :delete %>
<% end %>
</ol>
<h4><%= link_to 'Add more activities', activities_path %></h4>
