<div class="container">
  <h5>Add Another Vacation:</h5>

  <%= form_for @vacation do |f| %>

  <% if @vacation.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @vacation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= f.label "Where would you like to go?" %>
      <br>
      <%= f.collection_select :destination_id, Destination.all, :id, :full_name, include_blank: true %>
    </div>
    <br>
    <div class="field">
      <%= f.label "Vacation Name" %></br>
      <%= f.text_field :name %>
    </div>
    <br>
    <div class="field">
      <%= f.label "What is your budget? (Please input number in dollars)" %></br>
      <%= f.text_field :budget %>
    </div>
    <br>
    <div class="actions">
      <%= hidden_field_tag :user_id, current_user.id %>
      <%= f.submit :id => "submit_vacation"%>
    </div>
  <% end %>
</div>
