
<h1 id="vacation_name"><%= @vacation.name%></h1>

<%= render partial: 'next_and_previous_buttons', locals: {vacation: @vacation} %>

<br>
<br>

<b>Destination</b><p id="destination_name"><%= @vacation.destination.full_name %></p>
<b>Date:</b> <p id="date"><%= @vacation.date%></p>
<b>Length:</b> <p id="length"><%=@vacation.length%> days!</p>
<b>Starting Budget:</b> <p id="vacation_budget"> $<%= @vacation.budget %></p>

<%= link_to "Edit Vacation", edit_user_vacation_path(current_user, @vacation) %>

<br>
<br>

<% if !@vacation.activities.empty? %>

  <h3>Cost of Activities: $<%=@vacation.activities_total%></h3>
  <h3><strong>Budget Remaining: $<%= @vacation.budget_remaining %></strong></h3>
  <h3>Planned Activities</h3>
<ol>
  <% @vacation.vacation_activities.each do |vacation_activity| %>

    <%= render partial: 'vacation_activities', locals: {vacation_activity: vacation_activity} %>

  <% end %>
</ol>
  <h4><%= link_to 'Add more activities', activities_path %></h4>

<% else %>
  <h2>You have no planned activities! Click <%= link_to 'here', activities_path %> to start adding some</h2>
<% end %>

<br>
<br>

<%= button_to "Delete Vacation", @vacation, method: "delete" %>
