<% if @vacation.broke? %>
  <h1> YOU ARE BROKE. Up your budget, or get rid of activities! </h1>
<% end %>


<h1><%= @vacation.name%></h1>


<%= link_to "Prev", :class => "previous round", :"data-attribute" => @vacation.id %>
<%= link_to "Next", :class => "next round", :"data-attribute" => @vacation.id  %>

<br></br>

<h2><%= current_user.name%>'s trip to <%= @vacation.destination.full_name %></h2>
<h3>Leaving on: <%= @vacation.date%> for <%=@vacation.length%> days!</h3>
<h3>Starting Budget: $<%= @vacation.budget %></h3>
<%= link_to "Edit Vacation", edit_user_vacation_path(current_user, @vacation) %>

<br>
<br>

<% if !@vacation.activities.empty? %>

  <h3>Cost of Activities: $<%=@vacation.activities_total%></h3>
  <h3><strong>Budget Remaining: $<%= @vacation.budget_remaining %></strong></h3>
  <h3>Planned Activities</h3>
<ol>
  <% @vacation.vacation_activities.each do |vacation_activity| %>

    <%= render partial: 'vacation_activities', locals: {vacation_activity: vacation_activity} %>

  <% end %>
</ol>
  <h4><%= link_to 'Add more activities', activities_path %></h4>

<% else %>
  <h2>You have no planned activities! Click <%= link_to 'here', activities_path %> to start adding some</h2>
<% end %>

<br>
<br>

<%= button_to "Delete Vacation", @vacation, method: "delete" %>
