
<h1 id="vacation_name"><%= @vacation.name%></h1>
<%= link_to "Edit Vacation", edit_user_vacation_path(current_user, @vacation) %>
<br>
<%= render partial: 'next_and_previous_buttons', locals: {vacation: @vacation} %>

<br>
<br>

<%= render partial: 'vacation_info', locals: {vacation: @vacation}%>


<% if !@vacation.activities.empty? %>

  <%= link_to "Click to See Planned Activities", vacation_vacation_activities_path(@vacation), :id => "show_activities" %>


<ol id= "display_vacation_activities">
  <!-- vacation activities will be shown here -->
</ol>

  <h4><%= link_to 'Add more activities', activities_path %></h4>

<% else %>
  <h2>You have no planned activities! Click <%= link_to 'here', activities_path %> to start adding some</h2>
<% end %>
