
<h1 id="vacation_name"><%= @vacation.name%></h1>
<%= link_to "Edit Vacation", edit_user_vacation_path(current_user, @vacation) %>
<br>
<%= render partial: 'next_and_previous_buttons', locals: {vacation: @vacation} %>

<br>
<br>

<%= render partial: 'vacation_info', locals: {vacation: @vacation}%>


<% if !@vacation.activities.empty? %>

  <a href="/vacations/<%=@vacation.id%>/vacation_activities" id="show_activities">Click to See Planned Activities</a>


<ol id= "vacation_activities">
  <!-- vacation activities will be shown here -->
</ol>
  <h4><%= link_to 'Add more activities', activities_path %></h4>

<% else %>
  <h2>You have no planned activities! Click <%= link_to 'here', activities_path %> to start adding some</h2>
<% end %>
