
<h1 id="vacation_name"><%= @vacation.name%></h1>

<%= render partial: 'next_and_previous_buttons', locals: {vacation: @vacation} %>

<%= render partial: 'vacation_info', locals: {vacation: @vacation}%>
<br>
<br>

<% if @vacation.activities.empty? %>

  <h3>You have no planned activities!</h3>

<% else %>

  <%= link_to "Click to See Planned Activities", show_vacation_activities_path(@vacation), :id => "show_activities" %>

  <ol id= "display_vacation_activities">

  <!-- vacation activities will be shown here -->
  </ol>

<% end %>

  <h4><%= link_to 'Add activities', activities_path %></h4>
