<h1> Check out all of our great destinations! </h1>

<h3>Filter Destinations:</h3>
  <%= form_tag("/destinations", method: "get") do %>
    <%= select_tag "location", options_for_select(["International", "Domestic"]), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
<ol>
<% @destinations.each do |destination| %>
    <li><%= destination.full_name %></li>
    <% if current_user %>
      <br><%= form_for @vacation do |f| %>
        <%= f.hidden_field :destination_id, value: destination.id %>
        <%= f.submit "I want to go here"%>
      <% end %>
    <% end %>
    <br>
<% end %>
</ol>



<% if current_user %>
  <%= link_to 'Start Planning a Vacation!', new_user_vacation_path(current_user) %>
<% end %>
