<div class="container">
  <%= form_for @activity do |f| %>

    <% if @activity.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% @activity.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label "Start by selecting one of your vacations" %>
      <br>
      <%= f.collection_select :vacation_id, current_user.vacations, :id, :name %>
    </div><br>
    <div class="field">
      <%= f.label "Activity Name" %>
      <br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label "$$$ Per Person" %>
      <br>
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label "What type of activity is this? Select from below and/or create your own." %>
      <br>
      <%= f.collection_check_boxes :types, Type.all, :id, :name %>
      <br>
      <%= f.fields_for :type, @type do |ff| %>
         <%= ff.text_field :name %>
      <% end %>
    </div>
    <br>

    <%= f.submit "Add Activity" %>

  <% end %>
</div>
