<%= form_for @activity do |f| %>

  <% if @activity.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @activity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "How many people will be participating?" %>
    <br>
    <%= f.text_field :people %>
  </div>

  <div class="field">
    <%= f.label "Please select one of your existing vacations to add this activity to" %>
    <br>
    <%= f.collection_select :vacation_id, @vacations, :id, :name %>
  </div>
  <br>

  <%= f.submit "Add Activity" %>

<% end %>
