<div class="container">

  <h2><%= current_user.name %>'s Planned Activities</h2>

  <% if current_user.vacations.empty? %>
    <b>To start adding activities, first plan a vacation!</b><br>
    <b>Click <%= link_to 'here', new_user_vacation_path(current_user) %> to start adding vacations</b>
  <% else %>

  <%= link_to "Load All Planned Activities", user_activities_path(current_user), id: "load_users_activities" %>


    <% @activities.each do |activity| %>
      <%= render partial: 'activity_details', locals: {activity: activity} %>
      <div class="container">
        <%= link_to "Edit", edit_activity_path(activity) %>
      </div>
      <br>
    <% end %>
    <br>

  <h5>Add some more activities to your vacations! </h5>
  <br>
    <%= render partial: 'activity_form' %>

  <% end %>
</div>
