<div class="container">

  <h2><%= current_user.name %>'s Planned Activities</h2>
  <h4>Add more<%= link_to "here", new_activity_path %> </h4>
  <% if current_user.vacations.empty? %>
    <b>To start adding activities, first plan a vacation!</b><br>
    <b>Click <%= link_to 'here', new_user_vacation_path(current_user) %> to start adding vacations</b>
  <% else %>
    <br>

    <% @activities.each do |activity| %>
      <%= render partial: 'activity_details', locals: {activity: activity} %>
      <%= link_to "Edit", edit_activity_path(activity) %>
      <%= link_to "Delete", activity, method: "delete" %>
    <% end %>

  <% end %>
</div>
