<h1><%=@activity.name%></h1>
<% if @activity.description %>
  <h2><%= @activity.description %></h2>
<% end %>
<h3>$<%= @activity.price %> per person</h3>
<h3>Rating: <%= @activity.rating %>/10</h3>


<% if current_user && !current_user.vacations.empty? %>


  <%= form_for @activity do |f| %>

    <% if @activity.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% @activity.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.fields_for :activity, @activity.vacation_activities.build do |ff| %>
      <div class="field">
        <%= ff.label "Please select one of your existing vacations to add this activity to" %>
        <br>
        <%= ff.collection_select :vacation_id, @vacations, :id, :name %>
      </div>
      <br>
      <div class="field">
        <%= ff.label "How many people will be participating?" %>
        <br>
        <%= ff.text_field :people, required: true %>
      </div>
    <% end %>
    <br>
    <%= f.submit "Add Activity" %>
  <% end %>
<% end %>
