<nav class="">

  <% if current_user %>
    *Hello, <%= current_user.name %>* ||
    <%= link_to "My Vacations", vacations_path %> ||
    <%= link_to "Log Out", logout_path %> ||
  <% else %>
    <%= link_to "Log in with GitHub", '/auth/github' %> ||
    <%= link_to "Sign Up", signup_path %> ||
    <%= link_to "Log In", login_path %>
  <% end %>
  <%= link_to "Destinations", destinations_path %> ||
  <%= link_to "Activities", activities_path %>
</nav>
